body{
    width: 414px;
    background: #F3F3F3;
    margin:0; 
    padding:0;
}
ion-icon {
    cursor: pointer;
}




.barra_topo {
    position: fixed;
    padding: 16px 22px 0px 22px;
    width: 414px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    height: 64px;    
    color: black;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    font-style: normal;
    font-weight: normal;
    z-index: 2;
}

.containerLogo {
    width: 75px;
    height: 53px;
}


.containerIcon ion-icon {
    font-size: 50px;
}


.barra_enviarMensagem {
    position: fixed;
    padding: 0px 18px 0px 18px;
    width: 414px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    left: 0;
    height: 80px;    
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);    
    z-index: 2;
}

.barra_enviarMensagem input {
    border: none;
    font-family: Roboto;
    font-style: italic;
    font-weight: normal;
    font-size: 18px;
    color: #000000;

}

.barra_enviarMensagem ion-icon {
    font-size: 26px;
}





@media (max-width: 614px){

}